[Desktop Entry]
Name=Calculator
Name[bg]=Калкулатор
Name[cs]=Kalkulačka
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[el]=Αριθμομηχανή
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[ga]=Áireamhán
Name[he]=מחשבון
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[it]=Calcolatrice
Name[ja]=電卓
Name[lt]=Skaičiuotuvas
Name[lv]=Kalkulators
Name[mt]=Kalkulatur
Name[nl]=Rekenmachine
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Računalo
Name[sv]=Kalkylator
Exec=flufflinux-calculator
TryExec=flufflinux-calculator
Icon=com.flufflinux.calculator
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=com.flufflinux.calculator
Categories=Utility;Calculator;Qt;
Keywords=calculation;arithmetic;scientific;financial;
